@charset "UTF-8";
@import "compass";
// カラバリ
$yellowcolor: #FFCD4A;
$redcolor:#E6503B;
$bluecolor:#6AACB8;
$graycolor:#E5E4C7;
$whitecolor:#FFFFEA;
$textcolor:#0E0A32;

/*==================================
clear
==================================*/
section,
.snsIcon,
.gMenu ul,
.coverList,
.footer,
.spNavi{
	@include clearfix;
}
/*==================================
layout
==================================*/
.sidePr{
	display: none;
}
section{
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

/*==================================
module
==================================*/
a.more{
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	padding-left: 190px;
	i{vertical-align: middle;}
	&:link{color: #000; text-decoration:none;}
	&:visited{color: #000; text-decoration:none;}
	&:hover{color: #000; text-decoration:underline; font-weight: normal;}
}

/*==================================
Header
==================================*/
.header{
	display: none;
	.head__Gmenu{
		display: none;
	}
}
/*:: globalMenu :::::::::::::::::::::::*/
.header--change .gMenu{
	margin: 5px 0 0 20px;
	float: left;
	ul li{
		i{display: none;}
		float: left;
		list-style:none;
		line-height: 20px;
		margin-right: 30px;
		&:last-child{margin-right: 0;}
		a:link{
			font-size: 14px;
			font-weight: bold;
			text-decoration:none;
		}
		a:visited{
			font-size: 14px;
			font-weight: bold;
			text-decoration:none;
		}
	}
}
/*:: スマホ版メニュー :::::::::::::::::::::::*/
.spNavi{
	background-color: $bluecolor;
	padding: 7px 7px 0 7px;
	.spNavi_logo{
		font-size: 14px;
		color: #fff;
		font-weight: bold;
		float: left;
	}
	.spNavi_menu{
		float: right;
	}
}
.sb-slidebar{
	background-color: $whitecolor;
	border-left: 10px solid $yellowcolor;
	.sb-close{
		width: 80%;
		background-color: $graycolor;
		margin: 15px 10% 0 10%;
		padding: 10px 0;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		a{text-decoration:none;}
	}
	ul{
		padding: 15px 0 0 15px;
		li{
			border-bottom: 1px solid #999;
			list-style:none;
			margin-bottom: 10px;
			padding-bottom: 10px;
			a{display: block; text-decoration:none;}
		}
	}
}
.snsIcon{
	padding-top: 20px;
	margin-left: 15px;
	&__item{
		float: left;
		margin-right: 10px;
	}
}
/*==================================
maincontents
==================================*/
.coverbtn__group{
	width: 100%;
	background-color: #fff;
}
.coverlist__box__checkbtn{
	display: none;
}
/*:: search :::::::::::::::::::::::*/
.search__tit{
	background-color: $whitecolor;
	font-size: 13px;
	line-height: 25px;
	padding: 5px 10px;
	margin: 0;
	border-bottom: 1px solid #999;
	padding-right: 15px;
		i{vertical-align: middle;}
}

.search__pulldown{
	height: 35px;
}
.search__pulldown ul{
  margin:0;
  padding:0;
}
.search__pulldown ul li {
  list-style: none;
  border-right: 1px dashed #999999;
  border-bottom: 2px solid $yellowcolor;
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-size:14px;
  float: left;
  position: relative;
  width: 50%;/*親メニューの幅*/
  height: 35px;/*親メニューの高さ*/
  line-height: 35px;
  background:$whitecolor;/*親メニューの背景色*/
  color: $textcolor;/*親メニューの文字色*/
  text-align:center;
  font-weight:bold;
}
.search__pulldown ul li a {
  color: $textcolor;
  display: block;
  text-decoration: none;
}
.search__pulldown ul li:hover, .search__pulldown ul li a:hover {
  background:$redcolor;/*ホバー時の親メニューの背景色*/
  color:#fff;/*ホバー時の親メニューの文字色*/
}
.search__pulldown ul li ul {
  position: absolute;
  top: 35px;/*親メニューの高さと同じにする*/
  width: 100%;
  z-index: 100;
}
.search__pulldown ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 100%;/*サブメニューの幅*/
  height: 0;
  background:$whitecolor;/*サブメニューの背景色*/
  border-bottom: 1px solid $yellowcolor;
}
.search__pulldown ul li ul li:hover, .search__pulldown ul li ul li a:hover {
  background:$yellowcolor;/*ホバー時のサブメニューの背景色*/
}
.search__pulldown ul li:hover ul li, .search__pulldown ul li a:hover ul li{
  visibility: visible;
  overflow: visible;
  height:35px;/*サブメニューの高さ*/
  z-index: 10;
}
.search__pulldown * {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.groupBtn{
	display: none;
}

/*:: coverList :::::::::::::::::::::::*/
// ▼ソート・フィルタリング
#Container .mix{
	display: none;
}

.coverList__box{
	border-bottom: 1px dashed #999;
	width: 46%;
	height: 220px;
	float: left;
	margin: 10px 2% 10px 5px;
}
.coverList__box__tit{
	font-size: 12px;
	margin-bottom: 10px;
}
.number{
	font-size: 18px;
	font-weight: bold;
	float: left;
	line-height: 20px;
	margin-right: 5px;
	span{
		font-size: 10px;
		font-weight: normal;
		display: block;
		line-height: 11px;
	}
}
.newIcon{
	background-color: $yellowcolor;
	border-radius:3px;
	float: left;
	padding: 3px 3px;
	text-align: center;
}
.date{
	float: right;
}
.coverList__box__item{
	img{width: 100%;}
}
.coverList__box__btn{
	border: 2px solid #999;
	background-color: #fff;
	text-align: center;
	i{vertical-align: middle;}
	a:link{
		display: block;
		padding: 5px 0;
		font-size: 14px;
		font-weight: bold;
		text-decoration:none;
	}
	a:visited{
		display: block;
		padding: 5px 0;
		font-size: 14px;
		font-weight: bold;
		text-decoration:none;
	}
	a:hover{
		display: block;
		background-color: #B9DA7C;
		color: #fff;
		padding: 5px 0;
		font-size: 14px;
		font-weight: bold;
		text-decoration:none;
	}
}
.coverList__box__btn--green{
	border-color: #B9DA7C;
}

/*==================================
footer
==================================*/
.footer{
	background-color: #E5E4C7;
	padding: 10px 0;
}
.bLogo{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.footMenu{
	display: none;
}
.btmPr{
	display: none;
}
.btmPr--sp{
	img{width: 100%;}
}
.copyright{
	font-size: 10px;
	text-align: center;
}